/* GLOBAL */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(246, 240, 247);
    scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
    --clrMain: rgb(28, 1, 32);
    --clrTopbar: rgb(27, 12, 29);
    --clrMenu: rgb(15, 0, 17);
    --clrFooter: rgb(30, 22, 30);
    --cltText: rgb(246, 240, 247);
    --cltTextHover: rgb(215, 195, 219);
    --clrSelection: rgb(145, 122, 200);
    --tenPadding: 0% 10%;
}


body {
    min-height: 100vh;
    position: relative;
}
/* GLOBAL ENDS */

/* HEADER */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: var(--clrText);
    display: flex;
    justify-content: end;
    background: var(--clrTopbar);

}

.upgrade__link {
    border: solid 2px var(--cltText);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px;
}

.upgrade__link:hover {
    background: rgb(215, 195, 219);
    color: var(--clrTopbar);
    font-weight: 900;
}
/* HEADER END */


.container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px auto;
    background-image: linear-gradient(to top right,rgb(28, 1, 32), rgb(37, 31, 38));
    width: 100%;
    height: 100vh;
}

/* LEFT MENU */
.menu {
    position: relative;
    float: left;
    background: var(--clrMenu);
    height: 100vh;
    width: 300px;
    z-index: 1;
    display: grid;
    grid-template-rows: 70px repeat(4, 50px) 1fr 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu__logo,
.menu__home,
.menu__search,
.menu__library {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu__logo,
.playlists__new {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}

.menu__logo {
    font-size: 2rem;
}

.playlists__new {
    font-size: 1.5rem;
}

.playlists__created {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 10px;
    color: var(--cltText);
}

.menu__logo:hover,
.menu__home:hover,
.menu__search:hover,
.menu__library:hover,
.playlists__new:hover,
.playlists__created:hover {
    border-left: 5px solid var(--cltTextHover);
    display: table;
    margin-top: auto;
    margin-bottom: auto;
}

.menu__text {
    padding-left: 10px;
    display: inline;
    cursor: pointer;
}

.user {
    position: absolute;
    bottom: 120px;
    left: 20px;
    width: 250px;
}

.user__download {
    padding-bottom: 10px;
} 

.user__profile{
    padding-top: 10px;
}

.profile__user {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 10px;
    align-items: center;
}

.user__profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* LEFT MENU END */

/* MAIN */

.main {
    display: grid;
    padding:100px 0px 100px 120px;
    grid-template-rows: 50px auto;
}

.main__category {
    text-transform: uppercase;
    display: flex;
    place-content: center;
}

.main__category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
      float: left;
      padding: 10px;
  }

  li:hover {
    border-bottom: 5px solid var(--cltTextHover);
    display: table;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

.main__music {
    overflow-y: scroll;
    justify-self: center;
    width: 100%;
    height: 100vh;
}

.main__music::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    height: 10px;
  }

::-webkit-scrollbar-track {
    background:  #555;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--cltTextHover);
    border-radius: 10px;

}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--clrSelection);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    padding: 5px;
}

.carousel__tile p {
    padding-left: 5px;
}

.tile__artwork,
.tile__portrait {
    position: relative;
    float: left;
    cursor: pointer;
}

.tile__artwork .fa-circle-play,
.tile__portrait .fa-circle-plus {
    visibility: hidden;
    position: absolute;
    left: 45px;
    top:45px;
    font-size: 5rem;
}

.tile__artwork:hover .fa-circle-play,
.tile__portrait:hover .fa-circle-plus {
    visibility: visible;
}

.tile__artwork img:hover,
.tile__portrait img:hover {
    filter: brightness(75%);
}

/* FIX ME!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.fa-circle-play:hover ~ .tile__artwork img {
    filter: brightness(75%);
}

.recent__carousel,
.suggestions__carousel,
.similar__carousel {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 350px;
    margin: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: repeat(10, 180px);
    column-gap: 15px;
}

.music__similar {
    margin-bottom: 280px;
}

.carousel__tile {
    display: grid;
    grid-template-rows: 180px auto;
    align-content: flex-start;
}

.tile__artwork img {
    width: 170px;
    height:170px;
}

.tile__portrait img{
    width: 170px;
    height:170px;
    border-radius: 50%;
    cursor: pointer;
}

.similar__carousel {
    text-align: center;
}
/* MAIN END */

/* FOOTER PLAYER */
footer {
    position: fixed;
    display: grid;
    z-index: 2;
    width: 100%;
    height: 100px;
    background: var(--clrFooter);
    grid-template-columns: 300px 1fr 300px;
    place-items: center;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
}

.player__current {
    display: grid;
    grid-template-columns: 60px 180px 30px 30px;
}

.current__artwork img {
    width: 50px;
}

.player__controls {
    display: grid;
    grid-template-rows: 3fr 2fr;
}

.controls__buttons i {
    width:50px;
    font-size: 1.5rem;
}

.controls__time {
    display: flex;
    place-items: center;
}

.controls__buttons {
    display: flex;
    place-content: center;
}

.controls__buttons:hover {
    cursor: pointer;
}

.controls__time hr {
    width: 400px;
    height: 5px;
    border-radius: 2px;
    color: var(--cltText);
    margin: 0px 10px 0px 10px;
    opacity: 0.7;
}

.player__volume {
    display: grid;
    grid-template-columns: 100px 150px;
    place-items: center;
}

.player__volume hr {
    width: 140px;
    border-radius: 2px;
    border: 2px solid var(--cltText);
}

.player__volume i {
    width: 30px;
}

.volume__icons:hover {
    cursor: pointer;
}
/* FOOTER PLAYER */

/* MEDIA QUERIES */
@media screen and (max-width: 1100px) {

    footer {
        grid-template-columns: 300px 1fr 200px;
    }

    .controls__time hr {
        width: 200px;
    }

    .player__volume {
        display: grid;
        grid-template-columns: 100px 80px;
        place-items: center;
    }

    .player__volume hr {
        width: 70px;
        border-radius: 2px;
        border: 2px solid var(--cltText);
    }
}

@media screen and (max-width: 900px) {

.menu__text,
.menu__playlists,
.user__break {
display: none;
}

.main {
    padding:100px 0px 100px 120px;
}

.container {
    grid-template-columns: 1px auto;
}

.menu {
    width: 70px;
}

.user__profile img {
    width: 25px;
    height: 25px;
    border-radius: 80%;
}

.main {
    display: grid;
    padding:100px 0px 100px 90px;
    grid-template-rows: 50px auto;
}

}

@media screen and (max-width: 750px) {

    .main {
        grid-template-rows: auto;
    }

    .main__category {
        font-size: 0.7rem;
    }
        
    .menu__text,
    .menu__playlists,
    .user__break,
    #list,
    #display {
    display: none;
    }
    
    .menu {
        width: 70px;
    }
    
    .user__profile img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    
    
    footer {
        grid-template-columns: 150px 1fr 150px;
    }
    
    .player__current {
        display: grid;
        grid-template-columns: 0px 80px 20px 20px;
        font-size: 0.6rem;
    }
    
    .current__artwork img {
        display: none;
    }
    
    
    .controls__buttons i {
        width:30px;
        font-size: 1.2rem;
    }
    
    .controls__time hr {
        width: 80px;
    }
    
    .player__volume {
        display: grid;
        grid-template-columns: 30px 70px;
        place-items: center;
        font-size: 0.6rem;
    }
    
    .player__volume hr {
        width: 70px;
        border-radius: 2px;
        border: 2px solid var(--cltText);
    }
}

@media screen and (max-width: 600px) {

    .container {
        grid-template-columns: 0px auto;
    }

    .menu {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .menu__logo,
    .menu__home,
    .menu__search,
    .menu__library {
        padding-left: 10px;
    }
    
    .menu__logo,
    .playlists__new {
        padding-left: 10px;
    }
    
    .menu__logo {
        font-size: 1.5rem;
    }
    
    footer {
        grid-template-columns: 3fr 1fr;
        place-content: center;
    }

    .player__current {
        display: none;
    }     
}

/* MEDIA QUERIES END */