/* GLOBAL */

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --redPrimary: rgb(117, 19, 20);
    --redSecondary: rgb(156, 67, 69);
    --redTertiary: rgb(240, 215, 215);
    
    --thirtyPadding: 0% 30%;
    --twentyPadding: 0% 20%;
    --tenPadding: 0% 10%;
}

/* GLOBAL ENDS */

/* COVER */

.cover {
    background: var(--redPrimary);
    color: var(--redPrimary);
    padding-bottom: 100px;
    height: 100vh
}
.navigation {
    display: grid;
    grid-template-columns: 5fr repeat(3, 1fr);
    height:6vw;
    padding: 1%;
    margin-bottom: 100px;
}

.name {
    display: flex;
    place-items: center;
    font-size: 2rem;
    padding-left: 2%;
    color: var(--redTertiary);
}

.shortAbout,
.shortPortfolio,
.shortExperience {
    border: var(--redPrimary);
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    place-items: center;
    place-content: center;
    font-size: 1.6rem;
    background: var(--redTertiary);
    color: var(--redPrimary);
}

.shortAbout:hover,
.shortPortfolio:hover,
.shortExperience:hover {
    transform: scale(1.2);
    color: var(--redTertiary);
    background: var(--redSecondary);
}

.shortAbout :not(:hover),
.shortPortfolio :not(:hover), 
.shortExperience :not(:hover) {
    background: var(--redTertiary);
    color: var(--redPrimary);
} 

.headline, 
.strapline {
    text-align: center;
    color: var(--redTertiary);
}

h1 {
    font-size: 5rem;
    padding: var(--thirtyPadding)
}

p.strapline {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2% 40%;
}

.toTop {
    position: fixed;
    margin-left: 88vw;
    margin-top: 60vh;
    background-color: var(--redPrimary);
    color: var(--redTertiary);
    padding: 2%;
}

.toTop a:hover {
  text-decoration: underline;
  font-weight: 700;
}

/* COVER END*/

/* ABOUT ME */

h2 {
    font-size: 3rem;
    padding: var(--thirtyPadding);
    margin: 2% 0%;
    text-align: center;
}

h3 {
    font-size: 2rem;
    padding: var(--thirtyPadding);
}

h4 {
    font-size: 2rem;
    text-align: center;
}

p.introText {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: var(--thirtyPadding);
    margin: 2% 0%;
}

.langauges {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--thirtyPadding);
    margin: 2% 0%;
    place-items: center;
    font-size: 1.5rem;
    line-height: 2rem;
}

/* ABOUT ME END*/

/* PORTFOLIO */

.portfolio {
    background: var(--redTertiary);
    border: solid 10px var(--redTertiary);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    padding: var(--tenPadding);
}

.card {
    border: solid 5px var(--redPrimary);
    border-radius: 5px;
    background-color: white;
    margin: 2% 5% 10% 5%;
    padding: 2%;
    height: 400px;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr 1fr;

    box-shadow: 2px 4px 5px 7px rgba(0,0,0,0.15);
    -webkit-box-shadow: 2px 4px 5px 7px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 4px 5px 7px rgba(0,0,0,0.15);
}

.cardText {
    margin: 2%;
}

.readMore {
    background: var(--redPrimary);
    color: var(--redTertiary);
    text-transform: uppercase;
    display: flex;
    place-items: center;
    place-content: center;
    height: 40px;
    margin: 5% 0%;
}

a.readMore {
    color: var(--redTertiary);
}

.readMore:hover {
    background: var(--redTertiary);
    color: var(--redPrimary);
    font-weight: 700;
}

.git {
    color: var(--redPrimary);
    text-align: center;
}

.git a:hover {
    text-decoration: underline;
    color: var(--redSecondary);
}

/* PORTFOLIO END */

/* EXPERIENCE */

.experience h3 {
    margin: 2% 0%;
}

p.jobText {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: var(--thirtyPadding)
}

/* EXPERIENCE END  */

/* COPYRIGHT */

.experience {
    margin: 2% 0%;
}

footer {
    background: var(--redPrimary);
    height: 50px;
    color: white;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

/* COPYRIGHT END */

@media screen and (max-width: 1200px) {
    
    .shortAbout,
    .shortPortfolio,
    .shortExperience {
        font-size: 1.2rem;
    }
    .navigation {
        grid-template-columns: 4fr repeat(3, 1fr);
    }
    
    p.strapline {
        padding: 2% 20%;
    }

    h1, h2, h3, 
    p.jobText, 
    p.introText,
    .langauges {
        padding: var(--twentyPadding);
    }
}

@media screen and (max-width: 800px) {
    
    .shortAbout,
    .shortPortfolio,
    .shortExperience {
        font-size: 0.9rem;
    }

    p.strapline {
        padding: 2% 20%;
    }

    h1, h2, h3, 
    p.jobText, 
    p.introText,
    .langauges {
        padding: var(--tenPadding);
    }
}

@media screen and (max-width: 600px) {

    .navigation {
        grid-template-columns: 3fr repeat(3, 1fr);
    }
   
    p.strapline {
        padding: 2% 10%;
    }
    
    .name {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 3rem;
    }

    .toTop {
        display: none;
    }

    .navigation {
        display: grid;
        grid-template-columns: 1fr;
    }

    .shortAbout,
    .shortPortfolio,
    .shortExperience {
        display: none;
    }

    .langauges {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1.3rem;
    }
    
}


